@font-face {
    font-family: 'JejuHallasan';
    src: url('../fonts/JejuHallasan-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'BalooBhaijaan2';
    src: url('../fonts/BalooBhaijaan2-Regular.woff2') format('woff2'); 
}

:root {
    --primary: #fff;
    --secundary: #000;
    --tertiary: #455473;
    --quaternary: #9CB0D3;
    --quinary: #D1D1D1;
    --senary: #C44B4B;
    --septenary: #E1B84B;
    --octonary: #5BA47A;

    --login-button: #9CB0D3;

    --register-button: #D1D1D1;
    --register-button-text: #000;

    --texto-preto: #000;
    --body-bg-txt: #D1D1D1;
    --body-bg-img: #9CB0D3;

    --font1: 'BalooBhaijaan2';

    --toggle-theme-button: url('../src/halloween/jackoff.png');

    --radius-01: 10px;
    --radius-02: 20px;

    --shadow-01: 1px 1px 10px rgba(0, 0, 0, 0.7);
    --shadow-02: 1px 1px 10px rgba(69, 84, 115, 0.7);

    --medida-01: .5rem;
    --medida-02: 1rem;
    --medida-03: 2rem;
    --medida-04: 4rem;
    --medida-05: 8rem;
}

[data-theme="halloween"] {
    --login-button: #F29F05;


    --register-button: #190035;
    --register-button-text: #fff;

    --tertiary: #730202;

    --texto-preto: #F29F05;

    --body-bg-txt: #0d0d0d;
    --body-bg-img: #190035;

    --font1: 'JejuHallasan';

    --toggle-theme-button: url('../src/halloween/jackon.png');
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    user-select: none;
    font-family: var(--font1), sans-serif;
    color: var(--primary);
}

span,
img {
    cursor: pointer;
}

body {
    position: relative;
    z-index: 1;
    perspective: 800px;
    overflow: hidden;
}

button {
    border: none;
    background: none;
}

a {
    text-decoration: none;
}


/* Header */


.header-principal {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary);
    padding: 20px;
}

.header-logo-perfil {
    width: 50px;
    height: 50px;
}

.header-logo-perfil img {
    width: 100%;
}

#toggle-theme {
    width: 65px;
    height: 65px;
    background-image: var(--toggle-theme-button);
    background-size: contain;
    cursor: pointer;
    transition: background-image 0.3s ease;
}

nav .ul-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.ul-buttons li {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.ul-buttons li p {
    color: var(--primary);
    font-weight: bold;
    cursor: pointer;
}

header .cad-log p {
    display: flex;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

header .cad-log {
    display: flex;
    flex-direction: row;
}

header .cad-log .login {
    width: 80px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: var(--login-button);
}

header .cad-log .cadastro {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 80px;
    display: flex;
    justify-content: center;
    background-color: var(--register-button);
    color: var(--register-button-text);
}

/* Main */

main {
    min-height: calc(100vh - 70px);
    display: flex;
}


main .txt {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--body-bg-txt);
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    padding: 90px;
    color: var(--texto-preto);
}

.txt h1, p {
    color: inherit;
}

.logo-novo img {
    width: 90%;
    display: flex;

}

main .logo-novo {
    background-color: var(--body-bg-img);
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .img-txt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .logo-novo img{
     cursor: unset;
}